@model Siri_Web_Application.Models.Offer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Favored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Favored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidderId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
