@model IEnumerable<Siri_Web_Application.Models.Offer>

@{
    ViewBag.Title = "Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ofertas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Favored)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidderId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Favored)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidderId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OfferId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OfferId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OfferId })
        </td>
    </tr>
}

</table>
